parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony_ktmg
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       mail.mailer.gcmaz.com
    mailer_auth_mode: login
    mailer_encryption: ssl
    mailer_user: mailer@mailer.gcmaz.com
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    database_path: null