@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********* END BROWSER CSS RESET *********/

body{
	background-color:#0a173c;
                background-position: top center;
                background-repeat: no-repeat;
	font-family:Verdana, Geneva, sans-serif;
}
.bodybg1{ background-image: url('../images/1650wide/bg1.jpg'); }
.bodybg2{ background-image: url('../images/1650wide/bg2.jpg'); }
.bodybg3{ background-image: url('../images/1650wide/bg3.jpg'); }
.bodybg4{ background-image: url('../images/1650wide/bg4.jpg'); }
.bodybg5{ background-image: url('../images/1650wide/bg5.jpg'); }
.bodybg6{ background-image: url('../images/1650wide/bg6.jpg'); }
.bodybg7{ background-image: url('../images/1650wide/bg7.jpg'); }

h1{
    color:#f052da;
    font-weight:700;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
h2{
    color:#13a0e5;
    font-size:2em;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    padding: 10px;
}
a img { border:0; }
.centered{
	margin:0 auto;
	display:block;
	text-align:center;
}
#wrapper{
	/*background-image:url('../images/bg-top.jpg');
	background-repeat:no-repeat;*/
	width:1000px;
	height:100%;
                overflow:auto;
}
#leftcol{
	width:315px;
	float:left;
                overflow:hidden;
	/*background-color:#232323;*/
}
#rightcol{
                width:675px !important;
	float:right;
                overflow:hidden;
}
.bgtile{
            	background-image: url('../images/bg-mid-tile.jpg');
	background-repeat:repeat-y;
                overflow:auto;
}
.bghdr{
    	background-image:url('../images/bg-top.jpg');
	background-repeat:no-repeat;
                overflow: auto;
}
.clear{
	clear:both;
}
.left{ clear:right;float:left; }
.right{ float:right; }
.dropshadow{
    -webkit-box-shadow:  0px 7px 5px 0px rgba(0, 0, 0, .3);
    box-shadow:  0px 7px 5px 0px rgba(0, 0, 0, .3);
}
.outershadow{
	-webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}
.textshadow{
	text-shadow:1px 1px 1px rgba(0,0,0,.5);
}
.feedme{display:none;visibility:hidden;}
.loud{
	line-height:1.5;
	background-color:#fff;
	border:1px solid #F60;
	font-weight:bold;
	padding:10px;
}
div.notice {
    width:60%;
    margin:auto;
    color:#fff;
    background-color:#232323;
    border:1px solid #fff;
    padding:15px;
    font-weight:bold;
}
.unica{
	font-family: 'Unica One', cursive;
}
.noto{
    font-family: 'Noto Sans', sans-serif;
}
.bangers{
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}
.blue{
    color:#0f2359;
}
.pink{
    color:#cc66cc;
}
.logo_box{}
.sponsor_box{
    margin: -10px auto 10px;
}
.music-ctr_box{
	padding:10px 0;
}
.vertbtm {
    vertical-align:bottom;
}
.stream_box{
	padding:30px 0;
}
#expleaderboard{
    width:660px;
    height:150px;
    display:block;
    overflow:hidden;
    /*margin-top:-14px;*/
}
.mainbox_box{
    background-image:url('../images/bg-main-box.png');
    width:675px;
    height:305px;
}
.fb_box{
    background-color:#151515;
    padding:0;
    margin:0 auto 15px;
    width:300px;
    height:250px;
    overflow:hidden;
    clear:both;
    text-align:left;
}
.box_320x150{
    width:320px;
    height:150px;
    background:#151515;
    border:1px solid black;
    margin:0;
    padding:0;
}
.box_left{
    float:left;
}
.box_right{
    float:right;
}
.fb-like{
    margin:3% auto;
    padding:1em;
    display:block;
    z-index: 1000;
    overflow: visible !important;
}
/********** START MENU **************/
.menu_box{}
.menu_left{
	float:left;
}
.menu_right{
	float:right;
}
ul.dropdown {
	position:relative;
}
ul.dropdown li {
	width:150px;
	height:32px;
	z-index:300;
	list-style-type:none;
	line-height:30px;
	vertical-align:middle;
	margin:4px auto;
	border:1px solid #2eb4f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
                background: #13a0e5; /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzYTBlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU5ODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top,  #13a0e5 0%, #005985 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13a0e5), color-stop(100%,#005985)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #13a0e5 0%,#005985 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #13a0e5 0%,#005985 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #13a0e5 0%,#005985 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #13a0e5 0%,#005985 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13a0e5', endColorstr='#005985',GradientType=0 ); /* IE6-8 */
                -webkit-box-shadow:  0px 7px 5px 0px rgba(0, 0, 0, .3);
                box-shadow:  0px 7px 5px 0px rgba(0, 0, 0, .3);
}
ul.dropdown li a:hover				{ }
ul.dropdown li a, ul.dropdown ul li a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	font-weight:600;
	font-family: 'Unica One', cursive;
	text-shadow:1px 1px 1px rgba(0,0,0,.5);
	padding:3px 0;
	display:block;
}
ul.dropdown ul 		{ width:145px;visibility:hidden;position:absolute;top:36px;z-index:400;margin:2px 0 0 2px;padding:0;border-top:0;}
ul.dropdown ul li 		{ width:145px;z-index:500;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px; border:1px solid #232323; margin:0 auto;padding:0 0 6px 0;-webkit-box-shadow:  0px 7px 5px 0px rgba(0, 0, 0, .3);box-shadow:  0px 7px 5px 0px rgba(0, 0, 0, .3);}
ul.dropdown ul li a		{ font-size:14px;background-color:#148ac3;border:1px solid #2eb4f5;}
ul.dropdown ul li a:hover	{ background-color:#2db4f7;border:1px solid #4cc4ff;}
.headlink { }
/******* END MENU ***********/
/*********** START LISTENER BOX ******************/
.listener_box{
	width:660px;
	/*background-color:#232323;*/
	overflow:hidden;
	padding:15px 5px;
                margin-bottom:10px;
}
#lb1 {
	float:left;
	width:140px;
	padding:2px 0 2px 5px; /*snap widget iframe has extra padding on the right so we need to offset it */
	border:1px solid #1e3472;
}
#lb2 { text-align:left;margin-left:20px; }
#lb2 div.fb-like-box{ background-color:#fff;text-align: left;margin-left:13px;}
#lb3 {
	float:right;
	width:140px;
	padding:2px 0 2px 5px; /*snap widget iframe has extra padding on the right so we need to offset it */
	border:1px solid #1e3472;
}
#lb1, #lb3 {
	text-align:center;
	margin: 0 auto;
	display:inline;
	background-color:#0f2359;
}
#lb1 p, #lb3 p{
	color:#13a0e5;
	font-size:10px;
	font-weight:bold;
	padding:4px 0;
}
/*********** END LISTENER BOX ******************/
/********** START FOOTER ***********/
#footer{
	clear:both;
	width:1000px;
	height:175px;
	margin:0 auto;
	background:url('../images/bg-ftr.jpg');
}
#ftr-left{
	width:189px;
	height:159px;
	float:left;
	position:relative;
	display:inline;
	padding:20px 0 0 25px;
	margin-right:-25px;
}
#ftr-right{
	width:810px;
	height:159px;
	float:right;
	position:relative;
	display:inline;
	text-align:left;
}

#ftr-right-1{
	left:0px;
	top:0px;
	width:300px;
	position:absolute;
	text-align:left;
	padding:15px 0 0 20px;
	display:inline;
}
#ftr-right-2{
	 left:300px;
	 top:0px;
	 width:240px;
	 position:absolute;
	 text-align:left;
	 padding:15px 0 0 0;
	 display:inline;
}
#ftr-right-3{
	 left:480px;
	 top:0px;
	 width:270px;
	 position:absolute;
	 text-align:center;
	 padding:5px 0 0 0;
	 display:inline;
	 font-family: Arial, sans-serif;
}
#ftr-right-4{
	left:725px;
	top:0px;
	width:80px;
	position:absolute;
	text-align:center;
	display:inline;
}
ul.ftr-links-list li{
	list-style-type:none;
	background-position:middle left;
	background-repeat:no-repeat;
	text-align:left;
	line-height:22px;
	height:29px;
}
ul.ftr-links-list li a{
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-decoration:none;
	padding-left:35px;
	font-size:12px;
	font-weight:700;
}
a.ftr-recent-post{
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size:16px;
	font-weight:400;
	text-decoration:none;
	line-height:22px;
}
a:hover.ftr-recent-post{
	text-decoration:underline;	
}
ul.ftr-cities-list{
	margin:0;
	padding:0;
	list-style-type:none;
}
ul.ftr-cities-list li{
	margin:1px 0;
	padding:1px 0;
	line-height:1.2em;
                color:#f1e5dc;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size:12px;
	font-weight:700;
}
/*********** END FOOTER ***********/
.onair{
    margin-top:50px;
}
.info-left{
	margin-top:10px;
	float:left;
	width:160px;
	text-align:right;
}
.info-right{
	float:right;
	width:480px;
	margin-right:10px;
	margin-top:10px;
	line-height:1.2;
	text-align:left;
	color:#fff;
	font-size:14px;
}
.info-right a{
	font-weight:bold;
	color:#13a0e5;
	text-decoration:none;
	padding-top:5px;
}
div.info-right p:first-child{
	font-weight:700;
	color:#fff;
	margin-bottom:5px;
	margin-top:0;
	text-shadow: 1px 1px 1px #333;
                font-size: 1.2em;
                font-family: 'Noto Sans', sans-serif;
}
div.dbl-row p:first-child + p{
	font-weight:700;
}
.onair-link{
    	font-weight:bold;
	color:#13a0e5;
	text-decoration:none;
	padding-top:5px;
                display:inline-block;
}
.spacer{
    height:30px;
}

#concerts-splash{
    background-color:#373737;
    border:1px solid #999;
    width:600px;
    padding:10px;
    color:#ccc;
    line-height: 1.5em;
}
.contest{
    background-color:#fff;
    margin:auto;
    width:660px;
}
.contest p{
    font-weight:700;
    line-height:1.4;
    font-size:1.1em;
    color:#000;
    width:95%;
    margin:auto;
}
.sponsors ul li a img{
	margin:15px auto;
	vertical-align:middle;
	height:auto;
}
.splash{
    line-height:1.3;
    font-weight: 700;
}
.jobs{
    text-align:left;
    font-size:12px;
    line-height:1.7;
    padding:10px;
    width:90%;
    border:1px solid #fff;
    margin:10px auto;
    background-color:#cdd6e9;
    overflow:auto;
}