{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />   
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/logo-magic.png') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_concerts') }}"/>
    <meta property="og:title" content="Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/> 
    <meta property="og:description" content="Hot Adult Contemporary Concerts - Prescott - Prescott Valley - Northern Arizona - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Hot AC, Hit Music, Concerts, Prescott, Prescott Valley, Northern Arizona"/>
{% endblock %}
    
{% block leftcol_fb %}{% endblock %}
    
{# block leftcol_ad %}
    <a href="http://arizonasundogs.com/" target="_blank">
        <img src="{{asset('images/300x250/sundogs.jpg')}}" width="300" height="250" alt="Arizona Sundogs Tickets and Schedule" style="margin:5px auto;"/>
    </a>
{% endblock #}
    
{% block content %}
    {#<div id="concerts-splash" class="centered dbl-row info-right">
        <p class="left" style="font-size:1.5em;">Widespread Panic</p>
        <p class="right">Sunday, July 14th</p>
        <br class="clear"/>
        <p><a href="http://www.protixonline.com/" target="_blank" style="color:#ccc;"><span style="text-decoration: underline;">Buy Tickets</span> (On-Sale Friday, March 22nd @ 10am MST) &raquo;</a></p>
        <p><a href="http://pepsiamp.com/?p=920" target="_blank">Pepsi Amphitheater (Flagstaff) &raquo;</a></p>
    </div>#}
    <h2 class="bangers">Concerts</h2>
    <iframe src="http://www.magic991.com/concerts2.php" width="660" height="600"></iframe>
    <br/>
    <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_concerts') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
{% endblock %}