{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Contests on Magic 99.1 - Listen to Win - Northern Arizona Adult Contemporary Radio
{% endblock %}

{% block description %}
    <meta name="description" content=" Contests on Magic 99.1 - Listen to Win - Northern Arizona Adult Contemporary Radio"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="radio, contest, Northern Arizona, Magic 99.1"/>
{% endblock %}

{% block content %}
    <div>
        <h1>Find our latest contests under the "Win Stuff" menu option</h1>
    </div>
{% endblock %}