{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Jobs - Prescott Radio Station - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Jobs - Prescott Radio Station - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="jobs, Prescott radio station"/>
{% endblock %}
    
{% block leftcol_fb %}{% endblock %}
    
{% block content %}
    <h2 class="bangers">
        Employment Opportunities
    </h2>
    {#
    <div class="jobs">
        <p style="font-weight:700;font-size:1.4em;letter-spacing:0;">Production / Imaging Director<a href="http://www.gcmaz.com/jobs/Production-Imaging-Director.doc" target="_blank" style="float:right;font-size:11px;color:#000;text-decoration: none;">Download Job Description &raquo;</a></p>
        <hr/>
        <p><span style="text-decoration: underline;">Location</span>: Flagstaff &nbsp;  &nbsp; <span style="text-decoration: underline;">Status</span>: Full Time &nbsp;  &nbsp; <span style="text-decoration: underline;">Hours</span>: 8a - 5p M-F</span></p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">DUTIES &amp; RESPONSIBILITES</span>:  The Production & Imaging Director is a demanding creative position requiring leadership and networking skills.  The Production & Imaging Director will be responsible the production of all commercials for the cluster of stations including client recordings, dubbing, voicing and archiving commercials.  In addition the Production & Imaging Director will be responsible for creating and producing the station imaging for the cluster of stations including writing and producing promos, liners and sweepers, etc.  There could be possibility of voice tracking an air shift.</p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">POSITION REQUIREMENTS</span>:</p>
        <ul style="list-style-type:disc;">
            <li style="margin-left:20px;">Manage the flow of commercial production work.</li>
            <li style="margin-left:20px;">Work with AE’s and clients to create custom commercial spots.</li>
            <li style="margin-left:20px;">Consult with clients about creative</li>
            <li style="margin-left:20px;">Work closely with traffic and continuity to assure all commercials air correctly</li>
            <li style="margin-left:20px;">Monitor commercial content to meet legal, ethical, and decency standards</li>
            <li style="margin-left:20px;">Work with Operations Manager on any content challenges to meet legal, ethical and decency standards</li>
            <li style="margin-left:20px;">Assist in checking missing report nightly to correct any discrepancies in the following day’s log</li>
            <li style="margin-left:20px;">Work with Program Directors in writing and producing imaging for each brand in the cluster</li>
            <li style="margin-left:20px;">Work effectively in a team environment</li>
            <li style="margin-left:20px;">Maintain a positive and cooperative rapport with staff, management and clients.</li>
            <li style="margin-left:20px;">Consistently works hours required. Works more when required to meet deadlines including weekends, holidays, evenings, etc.</li>
            <li style="margin-left:20px;">Project an appropriate professional appearance and demeanor. </li>
            <li style="margin-left:20px;">Adhere to all company policies and procedures regarding indecency and obscenity</li>
        </ul>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">REQUIRED EXPERIENCE</span>:
            <ul style="list-style-type:disc;">
                <li style="margin-left:20px;">Three years of on-air radio experience required, excellent verbal and communication skills, , positive attitude both on and off the air</li>
                <li style="margin-left:20px;">Familiar with AudioVault, Vox Pro, and Adobe Audition</li>
                <li style="margin-left:20px;">Strong knowledge of all FCC rules and regulations</li>
                <li style="margin-left:20px;">Applicants must possess a strong work ethic, be well-read, punctual, and be a team player with a cooperative attitude</li>
            </ul>
        </p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">PHYSICAL DEMANDS</span>:
            <ul style="list-style-type:disc;">
                <li style="margin-left:20px;">Receive, process, and maintain information through oral and/or written communication effectively.</li>
                <li style="margin-left:20px;">Substantial physical movements (motions) of the wrists, hands, and/or fingers.</li>
                <li style="margin-left:20px;">Ability to extend hand(s) and arm(s) in any direction with good eye and hand coordination.</li>
                <li style="margin-left:20px;">Lift, move, and carry up to 50 pounds on occasion.</li>
            </ul>
        </p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">To Apply</span>: Send Resume, Cover Letter to
            <br/>
            Human Resources, 1117 W. Route 66 Flagstaff, AZ 86001
            <br/>
            (or email it to) <a href="mailto:employment@kaff.com?subject=Production-Imaging-Director">employment@kaff.com</a>
        <p><span style="text-decoration:underline;font-weight:600;">Posted</span>: June 10, 2013 | Closing: Sept 10, 2013 or until filled</p>
    </div>
    #}
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">ACCOUNT EXECUTIVES - Flagstaff and Prescott, AZ</p>
        <p>Great Circle Radio - Prescott, AZ is searching for Account Executives who understand that solving clients' needs and providing top notch customer service is key when developing relationships and generating business. As an AE with GCR, you must be able to develop integrated programs that will deliver results to new and existing clients, be detail oriented, and believe that radio is the best bet for small market businesses.</p>
        <p>If you can meet our expectations and can excel in a fun, fast paced environment while working just a hard &amp; smart, please email your resume to <a href="mailto:employment@kaff.com?subject=Account_Execs_Prescott">employment@kaff.com</a> ASAP.</p>
        <p>Posted 5/26/11 - Until Filled</p>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">MARKETING MANAGER - Flagstaff and Prescott, AZ</p>
        <p>Have you ever wanted to work in the exciting fast-paced world of radio? We are accepting applications and resumes for a Sales Marketing Manager with proven sales skills and an understanding of advertising and marketing. The ideal applicant is energetic and self-driven. College degree preferred. If you fit the criteria and desire a salary plus a generous commission structure, email your resume to <a href="mailto:employment@kaff.com?subject=Marketing%20Manager">employment@kaff.com</a>.</p>
        <p>Posted 4/1/11 - Until Filled</p>
    </div>
{% endblock %}