{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Jobs - Prescott Radio Station - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Jobs - Prescott Radio Station - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="jobs, Prescott radio station"/>
{% endblock %}
    
{% block leftcol_fb %}{% endblock %}
    
{% block content %}
    <h2 class="bangers">
        Employment Opportunities
    </h2>
    <div class="jobs">
        <p style="font-weight:700;font-size:1.2em;letter-spacing:0;">PROMOTIONS ASSISTANT / BOARD OPERATOR (Part Time) Flagstaff, AZ</p>
        <p>Great Circle Radio in Flagstaff, has an immediate opening for a Promotions Assistant/Board Operator. Prior board operation and radio experience is a plus, but will train the right person. The ideal candidate will assist in various functions as needed in the following areas, but not limited to:</p>
        <ul style="list-style-type:disc;">
            <li style="margin-left:20px;">Executing on-site station appearances in the Flagstaff Area</li>
            <li style="margin-left:20px;">Executing show recordings, minor editing and basic input into the automated system</li>
            <li style="margin-left:20px;">Maintenance of all promotional equipment and supplies</li>
            <li style="margin-left:20px;">Must be available nights and weekends</li>
            <li style="margin-left:20px;">Ability to follow written and verbal instructions and work under limited supervision a must</li>
            <li style="margin-left:20px;">Ability to multi-task and handle pressures and deadlines</li>
            <li style="margin-left:20px;">Ability to lift and move 50 lbs</li>
            <li style="margin-left:20px;">Looking for an opportunity to grow and contribute within a fast-paced radio marketing cluster</li>
            <li style="margin-left:20px;">Valid AZ Driver's License, clean driving record and reliable transportation</li>
        </ul>
        <br/>
        <p>If you meet this initial criteria and view yourself as a professional team-player please forward your resume at once to <a href="mailto:employment@kaff.com?subject=Promotions_Assistant_Flagstaff">employment@kaff.com</a></p>
        <p>Posted 5/22/13 - Until Filled</p>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">ACCOUNT EXECUTIVES - Flagstaff and Prescott, AZ</p>
        <p>Great Circle Radio - Prescott, AZ is searching for Account Executives who understand that solving clients' needs and providing top notch customer service is key when developing relationships and generating business. As an AE with GCR, you must be able to develop integrated programs that will deliver results to new and existing clients, be detail oriented, and believe that radio is the best bet for small market businesses.</p>
        <p>If you can meet our expectations and can excel in a fun, fast paced environment while working just a hard &amp; smart, please email your resume to <a href="mailto:employment@kaff.com?subject=Account_Execs_Prescott">employment@kaff.com</a> ASAP.</p>
        <p>Posted 5/26/11 - Until Filled</p>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">MARKETING MANAGER - Flagstaff and Prescott, AZ</p>
        <p>Have you ever wanted to work in the exciting fast-paced world of radio? We are accepting applications and resumes for a Sales Marketing Manager with proven sales skills and an understanding of advertising and marketing. The ideal applicant is energetic and self-driven. College degree preferred. If you fit the criteria and desire a salary plus a generous commission structure, email your resume to <a href="mailto:employment@kaff.com?subject=Marketing%20Manager">employment@kaff.com</a>.</p>
        <p>Posted 4/1/11 - Until Filled</p>
    </div>
{% endblock %}