{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Current Job Openings - Prescott Radio Station - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Great Circle Media Employment.  Current Job Openings - Prescott Radio Station - Magic 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />   
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/logo-magic.png') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_jobs') }}"/>
    <meta property="og:title" content="Current Job Openings - Prescott Radio Station - Magic 99.1"/> 
    <meta property="og:description" content="Great Circle Media Employment.  Current Job Openings - Prescott Radio Station - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="jobs, employment, job openings, Prescott radio station"/>
{% endblock %}
    
{% block styles %}
    {{ parent() }}
    <style type="text/css">
            div.jobs p {margin:5px auto;padding:5px 0;}
            .addy {font-weight: 700;font-size:1.2em;line-height:1;}
    </style>
{% endblock %}

{% block leftcol_fb %}{% endblock %}
    
{% block content %}
    <h2 class="bangers">
        Employment Opportunities
    </h2>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">NEWS REPORTER/ANCHOR</p>
        <p style="font-weight:700;">DUTIES & RESPONSIBILITES:</p>
        <p>The News Reporter/Anchor will be responsible for covering breaking news in Northern Arizona as well as gathering and generating news stories from lead sources.  Our News Reporter / Anchor will also deliver on-air newscasts in the morning and afternoon for all the stations in Great Circle Media in Northern Arizona.  Our News Reporter / Anchor will also be responsible for online and social media updates. </p>
        <p style="font-weight:700;">POSITION REQUIREMENTS:</p>
            <ul class="job-info">
                <li>Adhere to all guidelines, policies and procedures of the station, the FCC and all other federal, state and local laws.</li>
                <li>Post high school education of at least two years in journalism with skill in writing, broadcast journalism, news judgment and computer skills.</li>
                <li>Three (3) years experience in a professional broadcast journalism environment.</li>
                <li>Ability to develop and maintain news sources.</li>
                <li>Aggressive attitude with a strong desire to find the story…”A News Junkie”</li>
                <li>A quick learner who is fully committed to meeting a challenge.</li>
                <li>Ability to dig up and enterprise stories a must.</li>
                <li>Must be organized and have the ability to multi-task by concentrating on more than one event at a time.</li>
                <li>Must have excellent digital audio editing skills.</li>
                <li>Participate in required station Programming, Promotions, and Sales staff meetings and events.</li>
                <li>Be on call for possible disasters, breaking news, or acts of nature.</li>
                <li>Be an ambassador for the radio station when out in public. Maintain a positive and approachable attitude when around listeners and clients.</li>
                <li>Plan for professional growth and development.</li>
                <li>Goal-oriented and self motivated with proven capability of independently organizing (utilize a time management system), performing work and assuring follow-through.</li>
                <li>Ability to communicate effectively.</li>
                <li>Proven ability to handle stress and the ability to meet daily and weekly deadlines.</li>
                <li>Work in compliance with Company policies and procedures.</li>
                <li>Work effectively in a team environment.</li>
                <li>Maintain a positive and cooperative rapport with staff, management and clients.</li>
                <li>Consistently works hours required. Flexible hours ARE required to meet deadlines including weekends, holidays, evenings, etc.</li>
                <li>Project an appropriate professional appearance and demeanor.</li>
                <li>Licensed driver in good standing.</li>
            </ul>
        <p style="font-weight:700;">PHYSICAL DEMANDS:</p>
            <ul class="job-info">
                <li>Receive, process, and maintain information through oral and/or written communication effectively.</li>
                <li>Substantial physical movements (motions) of the wrists, hands, and/or fingers.</li>
                <li>Ability to extend hand(s) and arm(s) in any direction with good eye and hand coordination.</li>
                <li>Lift, move, and carry up to 20 pounds on occasion.</li>
        <p style="font-weight:700;">TO APPLY:</p>
        <p>Send Writing Samples, Audio Samples, Resume, Cover Letter:</p>
        <p>
            Human Resources
            1117 W. Route 66
            Flagstaff, AZ 86001
            <a href="mailto:employment@kaff.com?subject=News%20Reporter">employment@kaff.com</a>
        </p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-news" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">PART-TIME PROMOTIONS ASSISTANT</p>
        <p style="font-weight:700;">DUTIES & RESPONSIBILITES:</p>
        <p>The Promotions Assistant / Board Operator will be responsible for on-site marketing, executing and carrying out station promotions, maintaining promotional equipment and supplies and operating studio equipment for brokered shows and bartered programming.</p>
        <p style="font-weight:700;">POSITION REQUIREMENTS:</p>
            <ul class="job-info">
                <li>Must be available nights and weekends.</li>
                <li>Possess excellent oral, written, presentation and interpersonal skills.</li>
                <li>Ability to follow written and verbal instructions and work under limited supervision</li>
                <li>Goal-oriented and self motivated with proven capability of independently organizing (utilize a time management system), performing work and assuring follow-through</li>
                <li>Ability to communicate effectively</li>
                <li>Proven ability to handle stress</li>
                <li>Work in compliance with Company policies and procedures</li>
                <li>Work effectively in a team environment</li>
                <li>Maintain a positive and cooperative rapport with staff, management and clients.</li>
                <li>Consistently works hours required. Works more when required to meet deadlines including weekends, holidays, evenings, etc.</li>
                <li>Project an appropriate professional appearance and demeanor.</li>
                <li>Valid driver’s license, clean driving record and reliable transportation</li>
            </ul>
        <p style="font-weight:700;">PHYSICAL DEMANDS:</p>
            <ul class="job-info">
                <li>Receive, process, and maintain information through oral and/or written communication effectively.</li>
                <li>Substantial physical movements (motions) of the wrists, hands, and/or fingers.</li>
                <li>Ability to extend hand(s) and arm(s) in any direction with good eye and hand coordination.</li>
                <li>Lift, move, and carry up to 50 pounds on occasion.</li>
        <p style="font-weight:700;">TO APPLY:</p>
        <p>Send Writing Samples, Audio Samples, Resume, Cover Letter:</p>
        <p>
            Human Resources
            1117 W. Route 66
            Flagstaff, AZ 86001
            <a href="mailto:employment@kaff.com?subject=Promotions%20Assistant">employment@kaff.com</a>
        </p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-promo" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">ACCOUNT EXECUTIVES - Flagstaff and Prescott, AZ</p>
        <p>Great Circle Media - Prescott, AZ is searching for Account Executives who understand that solving clients' needs and providing top notch customer service is key when developing relationships and generating business. As an AE with GCM, you must be able to develop integrated programs that will deliver results to new and existing clients, be detail oriented, and believe that radio is the best bet for small market businesses.</p>
        <p>If you can meet our expectations and can excel in a fun, fast paced environment while working just a hard &amp; smart, please email your resume to <a href="mailto:employment@kaff.com?subject=Account%20Executive">employment@kaff.com</a> ASAP.</p>
        <p>Posted 10/1/13 - Until Filled</p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-ae" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    <p class="blue" style="padding:20px;font-weight:600;font-size:0.8em;">Great Circle Media is an Equal Opportunity Employer</p>
{% endblock %}

{% block js_btm %}
    {{ parent() }}
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522f81c761e7db91"></script>
    <script type="text/javascript">
        addthis.button('#job-ae', {}, {url: "http://magic991.gcmaz.com/jobs", title: "Account Executive Position", description: "Great Circle Media has a job opportunity that might interest you." });
        addthis.button('#job-news', {}, {url: "http://magic991.gcmaz.com/jobs", title: "News Reporter/Anchor Position", description: "Great Circle Media has a job opportunity that might interest you." });
        addthis.button('#job-promo', {}, {url: "http://magic991.gcmaz.com/jobs", title: "Promotions Assistant Position", description: "Great Circle Media has a job opportunity that might interest you." });
    </script>
    <!-- AddThis Button END -->
{% endblock %}