{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Current Job Openings - Prescott Radio Station - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Great Circle Media Employment.  Current Job Openings - Prescott Radio Station - Magic 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />   
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/logo-magic.png') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_jobs') }}"/>
    <meta property="og:title" content="Current Job Openings - Prescott Radio Station - Magic 99.1"/> 
    <meta property="og:description" content="Great Circle Media Employment.  Current Job Openings - Prescott Radio Station - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="jobs, employment, job openings, Prescott radio station"/>
{% endblock %}
    
{% block styles %}
    {{ parent() }}
    <style type="text/css">
            div.jobs p {margin:5px auto;padding:5px 0;}
            .addy {font-weight: 700;font-size:1.2em;line-height:1;}
    </style>
{% endblock %}

{% block leftcol_fb %}{% endblock %}
    
{% block content %}
    <h2 class="bangers">
        Employment Opportunities
    </h2>
    <div class="jobs">
        <p style="font-weight:700;font-size:1.4em;letter-spacing:0;">Promotions Manager</p>
        <hr/>
        <p><span style="text-decoration:underline;font-weight:600;">DUTIES &amp; RESPONSIBILITES</span>: 
            The Promotions Manager in Flagstaff will be responsible for the execution of all events and promotions executed by the station group in Flagstaff and the surrounding areas.  This includes remote broadcasts, van stops, station events, on-air promotions, etc.  The Promotions Manager will also be responsible for seeking out community events and projects that the station group can partner with.
        </p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">POSITION REQUIREMENTS</span>:</p>
        <ul style="list-style-type:disc;">
            <li style="margin-left:20px;">Bachelor Degree in Marketing, Communications, Broadcasting or the equivalent work experience</li>
            <li style="margin-left:20px;">Possess excellent oral, written, presentation and interpersonal skills</li>
            <li style="margin-left:20px;">Must be available for work on nights and weekends when required</li>
            <li style="margin-left:20px;">Proficient knowledge with the use of Photoshop and have working knowledge of Dreamweaver/HTML</li>
            <li style="margin-left:20px;">Proficient with Microsoft Office</li>
            <li style="margin-left:20px;">Organized and detail-oriented and can multi-task</li>
            <li style="margin-left:20px;">Must be able to meet tight deadlines</li>
            <li style="margin-left:20px;">Plan for professional growth and development</li>
            <li style="margin-left:20px;">Goal-oriented and self motivated with proven capability of independently organizing (utilize a time management system), performing work and assuring follow-through</li>
            <li style="margin-left:20px;">Ability to communicate effectively</li>
            <li style="margin-left:20px;">Proven ability to handle stress</li>
            <li style="margin-left:20px;">Work in compliance with Company policies and procedures</li>
            <li style="margin-left:20px;">Work effectively in a team environment</li>
            <li style="margin-left:20px;">Can manage a team of part-time promotional assistants</li>
            <li style="margin-left:20px;">Maintain a positive and cooperative rapport with staff, management and clients</li>
            <li style="margin-left:20px;">Consistently works hours required. Works more when required to meet deadlines including weekends, holidays, evenings, etc.</li>
            <li style="margin-left:20px;">Project an appropriate professional appearance and demeanor</li>
        </ul>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">PHYSICAL DEMANDS</span>:
            <ul style="list-style-type:disc;">
                <li style="margin-left:20px;">Receive, process, and maintain information through oral and/or written communication effectively</li>
                <li style="margin-left:20px;">Substantial physical movements (motions) of the wrists, hands, and/or fingers</li>
                <li style="margin-left:20px;">Ability to extend hand(s) and arm(s) in any direction with good eye and hand coordination</li>
                <li style="margin-left:20px;">Lift, move, and carry up to 20 pounds on occasion</li>
            </ul>
        </p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">To Apply</span>: Send Resume, Cover Letter to
            <br/>
            Human Resources, 1117 W. Route 66 Flagstaff, AZ 86001
            <br/>
            (or email it to) <a href="mailto:employment@kaff.com?subject=Promotions%20Manager">employment@kaff.com</a>
        <p><span style="text-decoration:underline;font-weight:600;">Posted</span>: Dec 2, 2013 - Until filled</p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-promo" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:1.4em;letter-spacing:0;">Director of Engineering</p>
        <hr/>
        <p>
            Great Circle Radio is looking for their next Director of Engineering to work out of the Flagstaff office.
        </p>
        <p><span style="text-decoration:underline;font-weight:600;">DUTIES &amp; RESPONSIBILITES</span>: 
            The duties of the Director of Engineering for Great Circle Radio will include but will not be limited to: maintenance of high power RF equipment, build and maintain audio recording and producing studios, provide IT support for broadcast equipment and staff.  Successful candidates should have a strong familiarity with radio broadcast and news operations including maintenance of broadcast automation systems, studio equipment, high power RF equipment, AM directional antenna systems, strong Computer/IT skills and great customer service.
        </p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">POSITION REQUIREMENTS</span>:</p>
        <ul style="list-style-type:disc;">
            <li style="margin-left:20px;">Minimum of 5-7 years of broadcast radio experience.</li>
            <li style="margin-left:20px;">A working understanding of electronics, logic and switching circuits, technical troubleshooting and wiring practices</li>
            <li style="margin-left:20px;">This is position is service oriented requiring excellent oral, written, presentation and interpersonal skills.</li>
            <li style="margin-left:20px;">You must be able to interact positively with technical and non-technical staff both independently and as a team member</li>
            <li style="margin-left:20px;">Occasional early morning, night and weekend work is expected and must be on-call and available to respond 24/7</li>
            <li style="margin-left:20px;">Plan for professional growth and development</li>
            <li style="margin-left:20px;">Goal-oriented and self motivated with proven capability of independently organizing (utilize a time management system), performing work and assuring follow-through</li>
            <li style="margin-left:20px;">Proven ability to handle stress</li>
            <li style="margin-left:20px;">Work in compliance with Company policies and procedures</li>
            <li style="margin-left:20px;">Work effectively in a team environment</li>
            <li style="margin-left:20px;">Maintain a positive and cooperative rapport with staff, management and clients</li>
            <li style="margin-left:20px;">Project an appropriate professional appearance and demeanor</li>
            <li style="margin-left:20px;">SBE/IT certifications are a major plus</li>
        </ul>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">PHYSICAL DEMANDS</span>:
            <ul style="list-style-type:disc;">
                <li style="margin-left:20px;">Receive, process, and maintain information through oral and/or written communication effectively</li>
                <li style="margin-left:20px;">Substantial physical movements (motions) of the wrists, hands, and/or fingers</li>
                <li style="margin-left:20px;">Ability to extend hand(s) and arm(s) in any direction with good eye and hand coordination</li>
                <li style="margin-left:20px;">Must be able to climb ladders and work in small spaces</li>
                <li style="margin-left:20px;">Lift, move, and carry up to 50 pounds on occasion</li>
            </ul>
        </p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">To Apply</span>: Send Resume, Cover Letter to
            <br/>
            Human Resources, 1117 W. Route 66 Flagstaff, AZ 86001
            <br/>
            (or email it to) <a href="mailto:employment@kaff.com?subject=Director%20of%20Engineering">employment@kaff.com</a>
        <p><span style="text-decoration:underline;font-weight:600;">Posted</span>: Nov 6, 2013 - Until filled</p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-eng" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">ACCOUNT EXECUTIVES - Flagstaff and Prescott, AZ</p>
        <p>Great Circle Media - Prescott, AZ is searching for Account Executives who understand that solving clients' needs and providing top notch customer service is key when developing relationships and generating business. As an AE with GCM, you must be able to develop integrated programs that will deliver results to new and existing clients, be detail oriented, and believe that radio is the best bet for small market businesses.</p>
        <p>If you can meet our expectations and can excel in a fun, fast paced environment while working just a hard &amp; smart, please email your resume to <a href="mailto:employment@kaff.com?subject=Account%20Executive">employment@kaff.com</a> ASAP.</p>
        <p>Posted 10/1/13 - Until Filled</p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-ae" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    {#<div class="jobs">
        <p style="font-weight:700;font-size:16px;">MARKETING MANAGER - Flagstaff and Prescott, AZ</p>
        <p>Have you ever wanted to work in the exciting fast-paced world of radio? We are accepting applications and resumes for a Sales Marketing Manager with proven sales skills and an understanding of advertising and marketing. The ideal applicant is energetic and self-driven. College degree preferred. If you fit the criteria and desire a salary plus a generous commission structure, email your resume to <a href="mailto:employment@kaff.com?subject=Marketing%20Manager">employment@kaff.com</a>.</p>
        <p>Posted 4/1/11 - Until Filled</p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-mm" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>#}
    <p class="blue" style="padding:20px;font-weight:600;font-size:0.8em;">Great Circle Media is an Equal Opportunity Employer</p>
{% endblock %}

{% block js_btm %}
    {{ parent() }}
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522f81c761e7db91"></script>
    <script type="text/javascript">
        addthis.button('#job-promo', {}, {url: "http://939themountain.gcmaz.com/jobs", title: "Promotions Manager", description: "Great Circle Media has a job opportunity that might interest you." });
        addthis.button('#job-eng', {}, {url: "http://magic991.gcmaz.com/jobs", title: "Director of Engineering", description: "Great Circle Media has a job opportunity that might interest you." });
        addthis.button('#job-ae', {}, {url: "http://magic991.gcmaz.com/jobs", title: "Account Executive Position", description: "Great Circle Media has a job opportunity that might interest you." });
        addthis.button('#job-mm', {}, {url: "http://magic991.gcmaz.com/jobs", title: "Marketing Manager Position", description: "Great Circle Media has a job opportunity that might interest you." });
    </script>
    <!-- AddThis Button END -->
{% endblock %}