{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Current Job Openings - Prescott Radio Station - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Great Circle Media Employment.  Current Job Openings - Prescott Radio Station - Magic 99.1"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />   
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/logo-magic.png') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_jobs') }}"/>
    <meta property="og:title" content="Current Job Openings - Prescott Radio Station - Magic 99.1"/> 
    <meta property="og:description" content="Great Circle Media Employment.  Current Job Openings - Prescott Radio Station - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="jobs, employment, job openings, Prescott radio station"/>
{% endblock %}
    
{% block styles %}
    {{ parent() }}
    <style type="text/css">
            div.jobs p {margin:5px auto;padding:5px 0;}
            .addy {font-weight: 700;font-size:1.2em;line-height:1;}
    </style>
{% endblock %}

{% block leftcol_fb %}{% endblock %}
    
{% block content %}
    <h2 class="bangers">
        Employment Opportunities
    </h2>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">ACCOUNT EXECUTIVES - Flagstaff and Prescott, AZ</p>
        <p>Great Circle Media - Prescott, AZ is searching for Account Executives who understand that solving clients' needs and providing top notch customer service is key when developing relationships and generating business. As an AE with GCM, you must be able to develop integrated programs that will deliver results to new and existing clients, be detail oriented, and believe that radio is the best bet for small market businesses.</p>
        <p>If you can meet our expectations and can excel in a fun, fast paced environment while working just a hard &amp; smart, please email your resume to <a href="mailto:employment@kaff.com?subject=Account%20Executive">employment@kaff.com</a> ASAP.</p>
        <p>Posted 10/1/13 - Until Filled</p>
        <div class="addthis_toolbox addthis_default_style ">
            <a id="job-ae" class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    <p class="blue" style="padding:20px;font-weight:600;font-size:0.8em;">Great Circle Media is an Equal Opportunity Employer</p>
{% endblock %}

{% block js_btm %}
    {{ parent() }}
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522f81c761e7db91"></script>
    <script type="text/javascript">
        addthis.button('#job-ae', {}, {url: "http://magic991.gcmaz.com/jobs", title: "Account Executive Position", description: "Great Circle Media has a job opportunity that might interest you." });
    </script>
    <!-- AddThis Button END -->
{% endblock %}