{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    Jobs - Prescott Radio Station - Magic 99.1
{% endblock %}

{% block description %}
    <meta name="description" content="Jobs - Prescott Radio Station - Magic 99.1"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="jobs, Prescott radio station"/>
{% endblock %}
    
{% block leftcol_fb %}{% endblock %}
    
{% block content %}
    <h2 class="bangers">
        Employment Opportunities
    </h2>
    <div class="jobs">
        <p style="font-weight:700;font-size:1.4em;letter-spacing:0;">ON-AIR TALK HOST<a href="http://www.gcmaz.com/jobs/AM-Talk-Host.doc" target="_blank" style="float:right;font-size:11px;color:#000;text-decoration: none;">Download Job Description &raquo;</a></p>
        <hr/>
        <p><span style="text-decoration: underline;">Location</span>: Flagstaff &nbsp;  &nbsp; <span style="text-decoration: underline;">Status</span>: Full Time &nbsp;  &nbsp; <span style="text-decoration: underline;">Hours</span>: 5a - 2p M-F</span></p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">DUTIES &amp; RESPONSIBILITES</span>:  The On-Air Host for Flagstaff Country 93-5/AM 930 will understand that talk radio isn’t always about politics but is community centered and relates to the life and experiences of those that live in Flagstaff.  Our Host’s main responsibilities will be to entertain and inform the Flagstaff community.  Other duties will include updating website and social media pages, and working with the sales department to drive revenue.</p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">POSITION REQUIREMENTS</span>:</p>
        <ul style="list-style-type:disc;">
            <li style="margin-left:20px;">Adhere to all guidelines, policies and procedures of the station, the FCC and all other federal, state and local laws.</li>
            <li style="margin-left:20px;">Adequate preparation for an air shift with use of creativity, imagination and exercise of independent professional judgment in writing, producing, interviewing, taping or broadcasting of on-air material</li>
            <li style="margin-left:20px;">Personality must be upbeat, informative and entertaining and be able to relate to station audience</li>
            <li style="margin-left:20px;">Ensure logged commercials, promotions and any other programming essential to the stations operation are aired</li>
            <li style="margin-left:20px;">Must be current with relevant daily material</li>
            <li style="margin-left:20px;">Participate in regular listening/air check sessions for critique with the Program Director</li>
            <li style="margin-left:20px;">Participate in required station Programming, Promotions, and Sales staff meetings and events</li>
            <li style="margin-left:20px;">Make regular approved appearances at paid, and non-paid, station events</li>
            <li style="margin-left:20px;">Execute only Program Director approved interviews and events on air during the regularly assigned shift</li>
            <li style="margin-left:20px;">Be on call for possible disasters, breaking news, or acts of nature.</li>
            <li style="margin-left:20px;">Assist with the voice over and production of paid, and non paid, spots required to run on the station</li>
            <li style="margin-left:20px;">Be an ambassador for the radio station when out in public. Maintain a positive and approachable attitude when around listeners and clients</li>
            <li style="margin-left:20px;">Plan for professional growth and development</li>
            <li style="margin-left:20px;">Goal-oriented and self motivated with proven capability of independently organizing (utilize a time management system), performing work and assuring follow-through</li>
            <li style="margin-left:20px;">Ability to communicate effectively</li>
            <li style="margin-left:20px;">Proven ability to handle stress</li>
            <li style="margin-left:20px;">Work in compliance with Company policies and procedures</li>
            <li style="margin-left:20px;">Work effectively in a team environment</li>
            <li style="margin-left:20px;">Maintain a positive and cooperative rapport with staff, management and clients.</li>
            <li style="margin-left:20px;">Consistently works hours required. Works more when required to meet deadlines including weekends, holidays, evenings, etc.</li>
            <li style="margin-left:20px;">Project an appropriate professional appearance and demeanor</li>
        </ul>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">PHYSICAL DEMANDS</span>:
            <ul style="list-style-type:disc;">
                <li style="margin-left:20px;">Receive, process, and maintain information through oral and/or written communication effectively.</li>
                <li style="margin-left:20px;">Substantial physical movements (motions) of the wrists, hands, and/or fingers.</li>
                <li style="margin-left:20px;">Ability to extend hand(s) and arm(s) in any direction with good eye and hand coordination.</li>
                <li style="margin-left:20px;">Lift, move, and carry up to 20 pounds on occasion.</li>
            </ul>
        </p>
        <br/>
        <p><span style="text-decoration:underline;font-weight:600;">To Apply</span>: Send Resume, Cover Letter to
            <br/>
            Human Resources, 1117 W. Route 66 Flagstaff, AZ 86001
            <br/>
            (or email it to) <a href="mailto:employment@kaff.com?subject=On_Air_Talk_Host">employment@kaff.com</a>
        <p><span style="text-decoration:underline;font-weight:600;">Posted</span>: June 10, 2013 | Closing: Sept 10, 2013 or until filled</p>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:1.2em;letter-spacing:0;">PROMOTIONS ASSISTANT / BOARD OPERATOR (Part Time) Flagstaff, AZ</p>
        <p>Great Circle Radio in Flagstaff, has an immediate opening for a Promotions Assistant/Board Operator. Prior board operation and radio experience is a plus, but will train the right person. The ideal candidate will assist in various functions as needed in the following areas, but not limited to:</p>
        <ul style="list-style-type:disc;">
            <li style="margin-left:20px;">Executing on-site station appearances in the Flagstaff Area</li>
            <li style="margin-left:20px;">Executing show recordings, minor editing and basic input into the automated system</li>
            <li style="margin-left:20px;">Maintenance of all promotional equipment and supplies</li>
            <li style="margin-left:20px;">Must be available nights and weekends</li>
            <li style="margin-left:20px;">Ability to follow written and verbal instructions and work under limited supervision a must</li>
            <li style="margin-left:20px;">Ability to multi-task and handle pressures and deadlines</li>
            <li style="margin-left:20px;">Ability to lift and move 50 lbs</li>
            <li style="margin-left:20px;">Looking for an opportunity to grow and contribute within a fast-paced radio marketing cluster</li>
            <li style="margin-left:20px;">Valid AZ Driver's License, clean driving record and reliable transportation</li>
        </ul>
        <br/>
        <p>If you meet this initial criteria and view yourself as a professional team-player please forward your resume at once to <a href="mailto:employment@kaff.com?subject=Promotions_Assistant_Flagstaff">employment@kaff.com</a></p>
        <p>Posted 5/22/13 - Until Filled</p>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">ACCOUNT EXECUTIVES - Flagstaff and Prescott, AZ</p>
        <p>Great Circle Radio - Prescott, AZ is searching for Account Executives who understand that solving clients' needs and providing top notch customer service is key when developing relationships and generating business. As an AE with GCR, you must be able to develop integrated programs that will deliver results to new and existing clients, be detail oriented, and believe that radio is the best bet for small market businesses.</p>
        <p>If you can meet our expectations and can excel in a fun, fast paced environment while working just a hard &amp; smart, please email your resume to <a href="mailto:employment@kaff.com?subject=Account_Execs_Prescott">employment@kaff.com</a> ASAP.</p>
        <p>Posted 5/26/11 - Until Filled</p>
    </div>
    <div class="jobs">
        <p style="font-weight:700;font-size:16px;">MARKETING MANAGER - Flagstaff and Prescott, AZ</p>
        <p>Have you ever wanted to work in the exciting fast-paced world of radio? We are accepting applications and resumes for a Sales Marketing Manager with proven sales skills and an understanding of advertising and marketing. The ideal applicant is energetic and self-driven. College degree preferred. If you fit the criteria and desire a salary plus a generous commission structure, email your resume to <a href="mailto:employment@kaff.com?subject=Marketing%20Manager">employment@kaff.com</a>.</p>
        <p>Posted 4/1/11 - Until Filled</p>
    </div>
{% endblock %}