{% extends 'Magic991MainBundle::layout.html.twig' %}

{% block title %}
    A Dream Home in Prescott, Arizona For Sale
{% endblock %}

{% block description %}
    <meta name="description" content="A Dream Home in Prescott, Arizona For Sale"/>
    <meta property="og:site_name" content="http://magic991.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="388413197938552" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://magic991.gcmaz.com{{ asset('images/find-main-image.jpg') }}"/>
    <meta property="og:url" content="http://magic991.gcmaz.com{{ path('Magic991_realtor') }}"/>
    <meta property="og:title" content="A Dream Home in Prescott, Arizona For Sale"/> 
    <meta property="og:description" content="A Dream Home in Prescott, Arizona For Sale"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="dream home, Prescott, Don Karcie, Re/max"/>
{% endblock %}
    
{% block styles %}
    {{parent()}}
    <link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .realestate{text-align:left;border:1px solid #29344e;background-color:#000;color:#fff;}
        .re-hdr{
            height:120px;
            width:100%;
            background: #232a3a; /* Old browsers */
            background: -moz-linear-gradient(top,  #232a3a 0%, #131720 30%, #39445e 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232a3a), color-stop(30%,#131720), color-stop(100%,#39445e)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #232a3a 0%,#131720 30%,#39445e 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #232a3a 0%,#131720 30%,#39445e 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #232a3a 0%,#131720 30%,#39445e 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #232a3a 0%,#131720 30%,#39445e 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232a3a', endColorstr='#39445e',GradientType=0 ); /* IE6-9 */
        }
        p.re-addy{ color:#a6dcff;font-weight:600;padding:5px; }
        img.re-main { padding:5px; }
    </style>
{% endblock %}

{% block content %}
    <div class="realestate">

{#
        <br/>
        <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('Magic991_realtor') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
        <br class="clear"/><br/>
#}    
    </div>
{% endblock %}